.main-roomDetail {
    margin: 100px 0 200px 0;
}

.img-roomDetail {
    width: 100%;
    height: auto;
}

.title-room {
    font-size: 50px;
    text-align: center;
    margin: 20px 0 50px 0;
}

.search {
    width: 100%;
    max-height: 375px;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.head-form {
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
    margin-bottom: 30px;
    width: 100%;
    align-items: center;
}

.numberRating {
    font-size: 16px;
    margin-right: 2px;
}

.price {
    font-size: 16px;
}

.rating {
    display: flex;
}

.comments {
    font-size: 16px;
    margin: 0 3px;
}

.form-booking {
    display: block;
    width: 100%;
}

.input-time {
    width: 100%;
}

.input {
    /* border-bottom: solid; */
    width: 100%;
    height: 40px;
}

.time-input {
    display: flex;
}

.custom-datepicker-wrapper {
    width: 50%;
}

.boder {
    width: 100%;
    border: 1px solid;
    border-radius: 5px;
    margin-bottom: 20px;
}

.inform {
    display: flex;
    justify-content: space-between;
}

.inform-price {
    margin-top: 10px;
}

.inform-total {
    margin-top: 10px;
}

.separator::after {
    content: '';
    display: inline-block;
    width: 100%; /* Độ dài của đường gạch */
    height: 0.5px; /* Chiều cao của đường gạch, có thể điều chỉnh theo chiều cao của phần tử cha */
    background-color: black; /* Màu sắc của đường gạch */
    vertical-align: middle; /* Canh giữa theo chiều dọc */
}

.main-detail {
    /* background-color: rgb(244, 239, 233); */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.name-room {
    margin: 10px 0 20px 0;
    font-size: 30px;
    font-weight: bold;
}

.inform-room {
    /* margin: 0 20px; */
    padding: 30px;
}

.icon-service {
    display: flex;
    align-items: center;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 40px;
}

.icon p {
    margin-top: 5px;
    font-family: 'Times New Roman', Times, serif;
}

.description .title {
    font-size: 25px;
    font-family: 'Barlow', sans-serif;
    font-size: 23px;
    font-weight: bold;
}

.content {
    font-family: 'Barlow', sans-serif;
    font-size: 17px;
}

.img-rcm {
    height: 90px;
    width: 85px;
}

.title-rcm {
    position: relative;
    width: 100%;
    height: 50px;
    padding: 10px;
}

.title-rcm p {
    position: absolute;
    top: 63%;
    transform: translateY(-50%);
    margin: 0;
    font-size: 23px;
}

.head-rcm {
    /* background-color: rgb(244, 239, 233); */
    margin-bottom: 2px;
    border-radius: 10px;
}

.recomment-room {
    /* background-color: rgb(244, 239, 233); */
    width: 100%;
    height: auto;
}

.item-rcm {
    padding: 15px;
    display: flex;
    background-color: rgb(244, 239, 233);
    margin-bottom: 2px;
    border-radius: 10px;

    /* justify-content: space-between;d */
}

.informRoom-rcm {
    margin-left: 25px;
}

.informRoom-rcm .post-rcm {
    text-decoration: none;
}

.informRoom-rcm .post-rcm p {
    color: black;
    font-size: 18px;
}

.informRoom-rcm #price-rmc {
    margin: 0;
    color: #e8a41d;
    font-size: 18px;
}
